<%inherit file="../default.html"/>\
<%namespace name="Base" file="../base.mako"/>
<%def name="includes()">
    <link href="/css/contents/index.css" type="text/css" rel="stylesheet"> 
    <link href="/css/contents/biologists.css" type="text/css" rel="stylesheet"> 
</%def>
	
    <!-- links on the leftColumn -->
    ${Base.links()}  

    <div class="rightColumn">
        <div class="mainTextColumn">
            <div class="imageText">
                <img class="large" src="/images/contents/ST_Header_InfoPublic.jpg">
                
            </div>
            <div class="mainText">
                Many biologists find that sites of this nature tend to be too lorem
                ipsum in fractur est. labore et dolore magna aliqua. Fenim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip quis.

            </div>
            <div class="biologistInfo">
                <h2>Article Summaries</h2>
                <div class="ruler"></div>
                <div class="showBiologists">
                    <img class="small" src="/images/contents/biology_1.png" />
                    <div class="showText">
                        <h3>STEM CELLS IN HUMAN BREAST</h3>
                        <div class="text">Breast is a tissue that requires dynamic remodelling
                            throughout the reproductive life of mammals. Adult stem
                            cells support this remodelling process. As well as
                            revealing information about the processes of cellular
                            differentiatiotn, the study of mammary stem cells (MaSC)
                            is also relevant to understanding the development of
                            breast cancers. The Visvader and Lindeman laboratories
                            at the WEHI report on the isolation of labore et...
                             ... <span class="more">more ></span></div>
                    </div>
                    
                </div>
                <div class="showBiologists">
                    <img class="small" src="/images/contents/biology_1.png" />
                    <div class="showText">
                        <h3>OLFACTORY STEM CELLS</h3>
                        <div class="text">The mammalian nose represents one of the few regions
                            of active neural regeneration in adults. Stem and
                            progenitor cells isolated from the olfactory epithelium give
                            rise to neurons, glia and surrounding stroma. Because
                            stem cells from the nose are readily accessible, they
                            provide an important patient-derived resource for studying
                            neurological disorders. Hyposmia, or loss of the sense of
                            smell, is an early symptom of  et... 
                            <span class="more">more ></span></div>
                    </div>
                </div>
                <div class="showBiologists">
                    <img class="small" src="/images/contents/biology_1.png" />
                    <div class="showText">
                        <h3>MAKING BLOOD</h3>
                        <div class="text">Haemopoiesis – the generation of blood – provides the
                            archetype model for hierarchical differentiation of adult
                            tissues. Model systems derive stem cells from adult bone
                            marrow or foetal cord blood. The datasets here profile
                            putative stem, progenitor and differentiated cell
                            populations. The gene expression signatures of
                            haemopoietic stem and progenitor cells, and their
                            differentiated progeny, provide labore et...
                             <span class="more">more ></span></div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="sideColumn">
            <div id="searchList" class="clear">
                <div class="search"><a href="/contents/glossary">GLOSSARY >></a></div>
                <div class="search"><a href="/contents/biologists">INFORMATION FOR <span>BIOLOGISTS</span> >></a></div>
                <div class="search"><a href="/contents/public">INFORMATION FOR <span>GENERAL PUBLIC</span> >> </a></div>
                
            </div>
            <div class="sideColumnList">
                <h1>Short List of Publications</h1>
                <div class="ruler"></div>
                <div class=news>
                    <div class="showText">
                        <h3>TEMPORT ULTRICES</h3>
                        <div class="name">Name of publication or institution</div>
                        <div class="date">19.11.2010</div>
                        <div class="text">Professor Steven Bustin of University of Blaghdeburough nam
                            libero tempore, cum soluta nobis est eligendi optio cumque nihil
                            impedit quo minus id quod maxime placeat facere possimus,
                            omnis voluptas assumenda est....
                            <span class="more">read article ></span>
                        </div>
                    </div>
                    
                </div>
                <div class=news>
                    <div class="showText">
                        <h3>TEMPORT ULTRICES</h3>
                        <div class="name">Name of publication or institution</div>
                        <div class="date">19.11.2010</div>
                        <div class="text">Professor Steven Bustin of University of Blaghdeburough nam
                            libero tempore, cum soluta nobis est eligendi optio cumque nihil
                            impedit quo minus id quod maxime placeat facere possimus,
                            omnis voluptas assumenda est....
                            <span class="more">read article ></span>
                        </div>
                    </div>
                    
                </div>
                <div class=news>
                    <div class="showText">
                        <h3>TEMPORT ULTRICES</h3>
                        <div class="name">Name of publication or institution</div>
                        <div class="date">19.11.2010</div>
                        <div class="text">Professor Steven Bustin of University of Blaghdeburough nam
                            libero tempore, cum soluta nobis est eligendi optio cumque nihil
                            impedit quo minus id quod maxime placeat facere possimus,
                            omnis voluptas assumenda est....
                            <span class="more">read article ></span>
                        </div>
                    </div>
                    
                </div>
                <div class=news>
                    <div class="showText">
                        <h3>TEMPORT ULTRICES</h3>
                        <div class="name">Name of publication or institution</div>
                        <div class="date">19.11.2010</div>
                        <div class="text">Professor Steven Bustin of University of Blaghdeburough nam
                            libero tempore, cum soluta nobis est eligendi optio cumque nihil
                            impedit quo minus id quod maxime placeat facere possimus,
                            omnis voluptas assumenda est....
                            <span class="more">read article ></span>
                        </div>
                    </div>
                    
                </div>                
                
            </div>
            
        </div>
    </div>


      

